*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
#navbar{
    display: flex;
    background-color: black;
    align-items: center;
    position: fixed;
    top: 2px;
    font-family:'poppins',sans-serif;
    width: 100%;
    z-index: 1;
}
.logo{
    width:"70px";
    height:"60px";
}
.menu{
    display: flex;
}
.row-2{
    padding-left: 300px;
}
#navbar ul{
    display: flex;
    font-family:serif;
}
#navbar ul li{
    color: white;
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 24px;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
.icon i {
    color: #e4e4e4;
    text-align: center;
    padding: 2px 24px;
    border-radius: 20px

}
.icon i:hover{
    color: black;
    background-color: white;
}

/* main */

.col-1 h3{
    top: 300px;
    font-size: 45px;
    color: white;
    mix-blend-mode: screen;
    position: absolute;
    margin-left: 115px
   
}
.col-1 h1{
    top: 376px;
    font-size: 100px;
    font-weight: lighter;
    color: white;
    mix-blend-mode: screen;
    position: absolute;
    margin-left: 121px;
}
.btn{
    position: absolute;
    top: 531px;
    margin-left: 328px;
    color: #151313;
    border: 1px solid #a4a29f;
    border-radius: 9px;
    mix-blend-mode: screen;
    font-size: 27px;
    font-weight: 500;
    padding: 14px 25px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;

}
.btn:hover {
    color: #fff;
    background: none;
}
/* about */
p{
    font-size: 1.9rem;

}
h1{
    margin: 0;
    font-size: 80px;
}
.skewed{
    width: 100vw;
    color: #f1f1f1;
    display: flex;
    background: #111;
    margin: 0em 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7)
}
.text{
    padding: 2.5rem;
    width: 31%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;

}
a{
    color: #fff;
    text-decoration: none;
    font-size: 35px;
    transition: all 0.3s ease;
}
a:hover{
    text-decoration: line-through;
    color: #e4e4e4;
    text-shadow: #151313;
}
.image{
    width: 69%;
    height: 50vw;
    position: relative;
    overflow: hidden;
}
 .image::before{
    content: ' ';
    position: absolute;
    left: -32.1rem;
    top: 63%;
    transform: translateY(-50%) rotate(20deg);
    background: #111;
    width: 41rem;
    height: 228rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);

 }
 .shadow{
    display: flex;
    height: 80vh;
    width: 100vw;
    justify-content: space-evenly;
    align-items: flex-start;
 }
 .col-s1{
    width: 50vw;
    height: 70vh;
    text-align: justify;
    position: relative;
    justify-items: center;
    transform: translate(57px, 250px);
}
.col-s2 img{
    width: 60vw;
    height: 65vh;
    justify-items: center;
    padding-top: 150px;
}
.CON{
    font-size: 65px;
    font-family: cursive;
    font-weight: bolder;
}
.CRE{
    font-family: emoji;
    font-weight: 500;
    font-size: 55px;
}
.URUS{
    font-size: 9rem;
    font-family: fantasy;
    padding-left: 208px;
    line-height: 211px;
    text-shadow: 5px 3px gray;
}





